<!DOCTYPE html>
<html lang="ru" ng-app="vit">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<title>Vit 2 App</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="dist/bundle.css?rev=500a7569dee9480b540f13a8585f9eb3">
	<!--?rev=@@hash-->
</head>

<body class="likearts-content">
	<div class="container-fluid" ng-controller="SharedController as shared">

	<header class="header">
		<div class="container">
			<div class="c-header">

				<div class="c-header__group only-mobile-visible">
					<nav class="menu menu--mobile">
						<div 
							hm-tap="shared.toggleVisibility('MENU')" 
							ng-class="{'menu__btn--is-open': shared.visibility.menu}" 
							class="menu__btn">
							<i class="menu__icon"></i>
						</div>
						<div ng-class="{
							'mobile-menu--is-open': shared.visibility.menu,
							'mobile-menu--is-close': !shared.visibility.menu && shared.menuActivate}" 
							class="mobile-menu">
							<ul class="mobile-menu__list">
								<li class="mobile-menu__list-item">
									<a href="#" class="mobile-menu__list-link">Услуги и цены</a>
								</li>
								<li class="mobile-menu__list-item">
									<a href="#" class="mobile-menu__list-link mobile-menu__list-link--is-active">Клиники</a>
									<div class="embeded-menu">
										<ul class="embeded-menu__list">
											<li class="embeded-menu__list-item">
												<a href="#" class="embeded-menu__list-link">Раздел</a>
											</li>
											<li class="embeded-menu__list-item">
												<a href="#" class="embeded-menu__list-link">Раздел</a>
											</li>
											<li class="embeded-menu__list-item">
												<a href="#" class="embeded-menu__list-link embeded-menu__list-link--is-active">Раздел активный</a>
											</li>
											<li class="embeded-menu__list-item">
												<a href="#" class="embeded-menu__list-link">Раздел</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="mobile-menu__list-item">
									<a href="#" class="mobile-menu__list-link">Врачи</a>
								</li>
								<li class="mobile-menu__list-item">
									<a href="#" class="mobile-menu__list-link">Программы</a>
								</li>
								<li class="mobile-menu__list-item">
									<a href="#" class="mobile-menu__list-link">Отзывы</a>
								</li>
							</ul>
							<div class="mobile-menu__social">
								<a href="#" target="_blank" class="mobile-menu__social-link mobile-menu__social-link--fb"></a>
								<a href="#" target="_blank" class="mobile-menu__social-link mobile-menu__social-link--ig"></a>
								<a href="#" target="_blank" class="mobile-menu__social-link mobile-menu__social-link--yt"></a>
								<a href="#" target="_blank" class="mobile-menu__social-link mobile-menu__social-link--vk"></a>
							</div>
							<div class="mobile-menu__phone">
								<span>8 800 355–23–94</span>
							</div>
						</div>
					</nav>
				</div>
				
				<div class="c-header__group">
					<div class="logo"></div>
				</div>

				<div class="c-header__group only-desktop-visible">
					<nav class="menu menu--desktop">
						<ul class="menu__list">
							<li class="menu__list-item">
								<a href="#" class="menu__list-link menu__list-link--is-active">Услуги и цены</a>
								<div class="hover-menu hover-menu--lvl-1">
									<ul class="hover-menu__list">
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Медицинские услуги</a>
											<div class="hover-menu hover-menu--lvl-2">
												<ul class="hover-menu__list">
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Терапия</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Педиатрия</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Отолангирология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Терапия</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Отоларингология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Семейная медицина</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Хирургия</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Неврология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Эндокринология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Физиотерапия</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Гинекология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Урология</a>
													</li>
													<li class="hover-menu__list-item">
														<a href="#" class="hover-menu__list-link">Функциональная диагностика</a>
													</li>
												</ul>
											</div>
										</li>	
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Анализы</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Check-up</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Годовое обслуживание</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Программы прикрепления ОМС+</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Ведение беременности</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Вызов врача на дом</a>
										</li>
										<li class="hover-menu__list-item">
											<a href="#" class="hover-menu__list-link">Справки, больничные</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__list-item">
								<a href="#" class="menu__list-link">Клиники</a>
							</li>
							<li class="menu__list-item">
								<a href="#" class="menu__list-link">Врачи</a>
							</li>
							<li class="menu__list-item">
								<a href="#" class="menu__list-link">Программы</a>
							</li>
							<li class="menu__list-item">
								<a href="#" class="menu__list-link">Отзывы</a>
							</li>
							<li class="menu__list-item">
								<a href="#" class="menu__list-link">Войти</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="c-header__group">
					<div class="enter">
						<a href="#" class="enter__btn">
							<i class="enter__icon"></i>
						</a>
					</div>
					<div hm-tap="shared.toggleVisibility('MOBILE_SEARCH')" class="search">
						<div class="search__btn">
							<i class="search__icon"></i>
						</div>
						<input ng-model="shared.search" type="text" class="search__input" placeholder="Поиск">
					</div>
				</div>
			</div>
		</div>
	</header>
	<div ng-if="shared.visibility.mobileSearch" class="tablet-search">
		<div class="tablet-search__btn">
			<i class="tablet-search__icon"></i>
		</div>
		<input ng-model="shared.search" type="text" class="tablet-search__input" placeholder="Поиск">
	</div>
	<div class="phone-search">
		<div class="phone-search__btn">
			<i class="phone-search__icon"></i>
		</div>
		<input ng-model="shared.search" type="text" class="phone-search__input" placeholder="Поиск">
	</div>

	<div class="control-panel">
		<div class="container">
			<div class="c-panel">
				<div class="c-panel__group only-desktop-visible">
					<div class="address">
						<div class="address__sign">Ближайшая клиника:</div>
						<div class="address__selected">
							<span>Москва, Новорогожская, 8</span>
							<i class="material-icons address__icon">arrow_drop_down</i>
							<div class="hover-select">
								<ul class="hover-select__list">
									<li class="hover-select__list-item">
										<span class="hover-select__list-link">Москва, Новорогожская, 8</span>
									</li>
									<li class="hover-select__list-item">
										<span class="hover-select__list-link">Москва, Адрес, 2</span>
									</li>
									<li class="hover-select__list-item">
										<span class="hover-select__list-link">Москва, Адрес, 3</span>
									</li>
									<li class="hover-select__list-item">
										<span class="hover-select__list-link">Москва, Адрес, 4</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="c-panel__group">
					<div class="c-btn">
						<button class="btn vit-btn">Вызвать врача</button>
						<button class="btn vit-btn">Записаться на прием</button>
					</div>
				</div>
				<div class="c-panel__group without-phone-visible">
					<span class="phone">
						<span class="phone__sign">Телефон горячей линии</span> 
						<span class="phone__number">8 800 666-66-66</span>
					</span>
					<span class="time">
						<i class="time__icon"></i>
						<span class="time__sign">24/7</span>
					</span>
				</div>
			</div>
		</div>
	</div>


	</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/hammerjs/hammer.min.js"></script>
	<script src="bower_components/angular-hammer/angular-hammer.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script src="dist/bundle.js?rev=bec421c0daddf1286548ccd604d0cdb0"></script>

</body>

</html>