@import 'nib'

.likearts-content .header
	width 100%
	height auto
	min-height 60px
	background-color #41a029
	@extend .flex, .paper-shadow-z1
	@media all and (min-width: $phone)
		min-height 100px
		background-color #fff
		padding 0 15px
	@media all and (min-width: 1200px)
		padding 0


	.c-header
		position relative
		@extend .flex
		justify-content space-between

		&__group
			@extend .flex
			justify-content space-between


.likearts-content .logo
	@extend .cover	
	width 184.5px
	height 32px
	background-image url(../resources/img/logo-mobile.png)
	@media all and (max-width: 320px)
		width 123px
		height 21.3px
	@media all and (min-width: $phone)
		width 227px
		height 40px
		background-image url(../resources/img/logo-desktop.png)


.likearts-content .enter
	position relative
	display block
	@media all and (min-width: $notebook)
		display none

	&__btn
		display block
		position relative
		width 64px
		height 64px
		@media all and (min-width: $notebook)
			position absolute
			top 6px
			left 6px
			width 24px
			height 24px

	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 24px
		height 24px
		@extend .cover
		background-image url(../resources/icons/enter-w.png)
		@media all and (min-width: $phone)
			background-image url(../resources/icons/enter-g.png)
