@import 'nib'

.likearts-content .vit-btn
	background-color #f57c00
	color #fff
	border-radius 20px
	margin 8px
	padding 8px 18px
	font-weight 300
	letter-spacing 1px
	outline none
	min-width 200px
	&:focus
		outline none