@import 'nib'

@keyframes hover-menu-lvl-1-motion {
	0% {
		transform scale(1, 0)
	}
	100% {
		transform scale(1, 1)
	}
}

@keyframes hover-menu-lvl-2-motion {
	0% {
		transform scale(0, 1)
	}
	100% {
		transform scale(1, 1)
	}
}

@keyframes mobile-menu-show-motion {
	0% {
		opacity 0
		transform translate(-100%, 0)
	}
	100% {
		opacity 1
		transform translate(0, 0)
	}
}
@keyframes mobile-menu-hide-motion {
	0% {
		opacity 1
		transform translate(0, 0)
	}
	100% {
		opacity 0
		transform translate(-100%, 0)
	}
}

.likearts-content .menu

	&--mobile
		@media all and (min-width: $notebook)
			display none

	&--desktop
		margin-right 100px
		@media all and (max-width: $notebook)
			display none
	
	&__btn	
		position relative
		width 64px
		height 64px
		cursor pointer
		background-color #41a029
		@media all and (min-width: $phone)
			background-color #fff

		&--is-open
			background-color #54aa3f
			@media all and (min-width: $phone)
				background-color rgba(0, 0, 0, 0.08)
	
	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		@extend .cover
		width 32px
		height 32px	
		background-image url(../resources/icons/hamburger-w.svg)
		@media all and (min-width: $phone)
			background-image url(../resources/icons/hamburger-g.svg)

	&__list
		@extend .flex
		justify-content space-between
		padding 0
		list-style none
		margin 0

	&__list-item
		font-size 1.6rem
		&:hover
			.hover-menu--lvl-1
				visibility visible
				opacity 1
				animation hover-menu-lvl-1-motion .2s 1 ease-in-out 

	&__list-link
		@extend .transition
		padding 8px 24px
		color $p-color-text
		white-space nowrap
		@media all and (max-width: 1140px)
			padding 8px
		&:hover
			color $p-color 

		&--is-active
			color #f57c00
			&:hover
				color #f57c00

	.hover-menu
		position absolute
		visibility hidden
		@extend .transition
		opacity 0
		transform-origin 0 0
		font-size 1.3rem
		border-radius 3px
		&:hover
			visibility visible
			opacity 1

		&--lvl-1
			background-color rgba(245, 124, 0, 0.8);
			.hover-menu__list-item:hover > .hover-menu__list-link
				border-bottom 1px solid #fff


		&--lvl-2
			background-color rgba(0, 0, 0, 0.8);
			top 0px
			left 100%
			.hover-menu__list-item:hover > .hover-menu__list-link
				border-bottom 1px solid #fff

		&__list
			list-style none
			padding 0
			margin 0
			padding 12px 0
			color #fff
			font-weight 300

		&__list-item
			padding 8px 24px
			&:hover
				.hover-menu--lvl-2
					visibility visible
					opacity 1
					animation hover-menu-lvl-2-motion .2s 1 ease-in-out 
				

		&__list-link
			color #fff
			white-space nowrap
			&:hover
				color #fff 


	.mobile-menu
		position absolute
		background-color #fff
		@extend .paper-shadow-z1
		font-size 1.8rem
		transform-origin 0 0
		transform translate(-200%, 0)

		&--is-open
			transform translate(0, 0)
			animation mobile-menu-show-motion .2s 1 ease-in-out 

		&--is-close
			transform translate(-200%, 0)
			animation mobile-menu-hide-motion .2s 1 ease-in-out 

		&__list
			padding 16px 0
			margin 0
			list-style none
			
		&__list-item
			padding 8px 24px
		
		&__list-link
			color $p-color-text
			white-space nowrap

			&--is-active
				color $s-color-text


		&__social
			@extend .flex
			padding 24px
			border-top 1px solid #e0e0e0
			@media all and (min-width: $phone)
				display none

		&__social-link
			display block
			width 32px
			height 32px
			@extend .cover
			margin 0 8px

			&--fb
				background-image url(../resources/icons/fb-b.svg)

			&--ig
				background-image url(../resources/icons/ig-b.svg)

			&--yt
				background-image url(../resources/icons/yt-b.svg)

			&--vk
				background-image url(../resources/icons/vk-b.svg)

		&__phone
			height auto
			min-height 100px
			@extend .flex
			background-color #54aa3f
			color #fff
			padding 32px
			@media all and (min-width: $phone)
				display none


	.embeded-menu

		&__list
			list-style none
			margin 0
			padding-top 16px

		&__list-item
			padding 2px 0

		&__list-link
			color $p-color-text

			&--is-active
				color $p-color



